.userVote{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  padding: 0px;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 'see results.jsx';
  font-size: 'see results.jsx';
}
.userVoteName {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.userVoteNum {
  margin-top: 2px;
  padding-top: 2px;
  border-top: 1px solid black;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.userVoteHide {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 10px;
  opacity: .8;
  box-sizing: border-box;
}
.userVoteHideX {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-top: 0px;
  font-size: 57px;
  font-family: monospace;
}
.graphBar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0px auto 2px;
  height: 90%;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1
}
.graphBarVotes{
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.resultsGoal {
  position: absolute;
  top: 0px;
  right: 0px;
  width: calc(25% - 4px);
  height: calc(100%);
  border-left: 2px dotted red;
  box-sizing: content-box;
}
